.tintucnoibat{width:99%;overflow: hidden;margin-top:15px}
.title-tin{background:#f75d75;border-radius:7px 7px 0px 0px;height:35px}
.title-tin > a{font:bold 15px SFUEurostileCond;line-height:35px;margin-left: 53px;color: white}
.noidungtin{overflow: hidden;border:1px solid #808080;background:#f9dde1;border-radius:0px 0px 7px 7px;padding-top:20px}
.baosanphamindex{overflow: hidden;width: 100%;float: left;margin-bottom: 20px;}

.khungAnh1{width: 83px;height: 60px;margin-left: 13px;margin-right: 11px;padding: 3px;border: 1px solid #cbcbcb;position: relative;float: left;background: #fff;}
.khungAnhCrop{width: 83px;height: 60px;display: block;}
.imgkhunganh{width: 83px; height: 60px;}
.titlen{font: normal 12px/20px Arial;color: #333;display: block;max-height: 40px;text-decoration: none;}

#thongketruycap{width:100%;overflow: hidden;margin-top:15px}
.title-thongke{width:100%;height:35px;background:#f75d75;border-radius:7px 7px 0px 0px}
.title-thongke > a{font:bold 15px SFUEurostileCond;line-height:35px;margin-left: 53px;color: white}
.so-thongke{overflow: hidden;background:#f9dde1;border:1px solid #808080;border-radius:0px 0px 7px 7px}
.so-thongke p{margin:0px;margin: 10px 0px 10px 15px;}

#trangphai{width:710px;float:left;overflow: hidden;padding-left:5px;background:#f9dde1;margin-top: 5px}
#NewDetail{width:710px;overflow: hidden}
#NewDetail .title h1{font: bold 15px/30px Arial;
    margin: 0;margin-top: 5px;
    display: inline-block;
    color: #1958ca;
    text-transform: uppercase;}
.tool{background-color: #f1f1f1;
    font: normal 11px Arial;
    color: #aaa;
    padding: 12px;
    margin: 10px 4px 10px 0;
    border-top: 1px solid #ebebeb;}
.date{float: left;
      margin-top:-6px;
    padding-left: 15px;
    padding-right: 22px;
    background: url(../pic/tin-tuc/date.gif) no-repeat left center;}
.view{float: left;
      margin-top:-6px;
    padding-left: 15px;
    background:url(../pic/tin-tuc/view.gif) no-repeat left center }
.cb{}
#NewDetail .contentview{line-height: 20px;overflow: hidden;
    padding-bottom: 20px;
    text-align: justify;
    font-family: Arial!important;
    font-size: 12px;
}
#SubNewOtherItem{width:710px;overflow: hidden;margin-top: 25px;
    margin-bottom: 65px;}
.head{font: bold 14px Arial;
    color: #1958ca;
    margin-bottom: 15px;}
#SubNewOtherItem .title{width: 100%;
    border-bottom: 1px dotted #808080;
    font: normal 12px Arial;
    float: left;
    text-align: left;
    color: #333;
    background: url(../pic/tin-tuc/dotliother1.png) no-repeat 0 10px;
    display: block;
    padding: 8px 10px 10px 17px;} 

/*
.tintuc{overflow: hidden}
.item{height: 134px;position: relative;margin-bottom: 10px;padding-top:10px;padding-bottom: 20px;border-bottom: 1px dotted #888;}
.item .khungAnh{width: 210px;height: 130px;margin-left: 5px;margin-right: 20px;float: left;border-radius: 4px;overflow: hidden;position: relative;}
.item .khungAnhCrop{display: block;width: 210px;height: 130px;}
  
.imganh{height: 130px; width: 230px}
.title{font: bold 15px/18px 'Arial';color: #333;display: block;padding-bottom: 8px;text-decoration: none
}
.view{color: #888;padding-bottom: 2px;font: 12px/18px 'Arial';padding-left: 25px;padding-right: 20px;background: url(../pic/tin-tuc/veiw.png) no-repeat left center;}
.date{color: #888;padding-bottom: 2px;font: 12px/18px 'Arial';padding-left: 20px;background: url(../pic/tin-tuc/date.png) no-repeat left center;}
.item .desc{line-height: 18px;text-align: justify;height: 55px;display: block;font: 12px/18px 'Arial';margin-top: 5px;margin-right: 14px;
}
.detail{color: #fff;font: 12px/30px 'Arial';background: #a6a6a6;float: right;border-radius: 30px;padding: 0 10px;margin-right: 14px;}
*/

/*chân trang*/
#footer{height:170px;background:url(images/bgfooter.jpg) no-repeat center center;margin-top:50px}
#footer .contener{}
.menufoter{margin:auto;padding-top:60px;width:700px}  

.thongTinChiTietTinTuc{font-family:'Times New Roman';text-align:justify;padding-top:20px;padding-left:10px;padding-right:10px;padding-bottom:20px}
.thongTinChiTietTinTuc table{max-width:100% !important}
.thongTinChiTietTinTuc img{max-width:100% !important; height:auto !important}