#thanhtoan{margin-top:15px;overflow:hidden;width:100%}
.title-thanhtoan{background:#db1f25;border-radius:7px 7px 0px 0px;height:35px;width:100%}
.title-thanhtoan>a{color:white;font:bold 15px SFUEurostileCond;line-height:35px;margin-left:53px}
.thongtinnganhang{background:#FFF;border:1px solid #808080;border-radius:0px 0px 7px 7px;overflow:hidden}
.nganhang{border-bottom:1px solid #f75d75;margin-top:25px}
.nganhang img{margin:0px 0px 3px 15px}
.nganhang p{margin:2px 0px 30px 15px}

#thongketruycap{width:100%;overflow: hidden;margin-top:15px}
.title-thongke{width:100%;height:35px;background:#f75d75;border-radius:7px 7px 0px 0px}
.title-thongke > a{font:bold 15px SFUEurostileCond;line-height:35px;margin-left: 53px;color: white}
.so-thongke{overflow: hidden;background:#f9dde1;border:1px solid #808080;border-radius:0px 0px 7px 7px}
.so-thongke p{margin:0px;margin: 10px 0px 10px 15px;}

#trangphai{width:710px;float:left;height:100%;padding-left:5px;margin-top:3px}
.chitietsp{overflow: hidden;background:white;padding:5px}
.baosp{width:350px;float:left;border:1px solid #808080}
.imgsp{width:350px}
.baochitiet{overflow: hidden;width:323px;float:left;padding-left:17px;font-family:arial;}
.product-title h1{margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: capitalize;}
#pro_sku{font-size: 14px;
    color: #303030;
    padding-left: 2px;}
.product-price{border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    margin-top: 10px;}
.product-price span{font-size: 24px;
    color: #ff6517;
    margin-right: 25px;}
.thongso{overflow: hidden;padding-top:10px}
.size{font-size: 13px;
    color:#303030;
    font-weight: bold;
    display: block;margin-top:10px}
.size label{padding-right: 10px;}
.select-site{width: 50px;
    height: 25px}
.soluong {font-size: 13px;
    color:#303030;
    font-weight: bold;
    display: block;margin-top:15px}
.soluong label{padding-right: 20px;}
#quantity{width: 47px;
    height: 20px}
.mausac{font-size: 13px;
    color:#303030;
    font-weight: bold;
    display: block;margin-top:15px}
.mausac .select-site{width: 70px;
    height: 25px}
.mausac label{padding-right: 27px;}
.chatlieu{font-size: 13px;
    color:#303030;
    font-weight: bold;
    display: block;margin-top:15px}
.chatlieu label{padding-right: 23px;}
.chatlieu span{color:#ec2917}

.row{overflow: hidden;padding-top:30px}
.giohangsp{width:45%;float:left;padding-right: 31px;}
.btn-color-add {
    background: #e05543;
    width: 100%;
    margin: 10px 0px;
}
.btn-detail {
    border: none;
    padding-left: 50px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    height: 44px;
    line-height: 44px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    display:inline-block;
    text-align:center;
    box-sizing:border-box
}
.btn-detail:before {
    content: "";
    width: 1px;
    height: 100%;
    border-left: solid #ce4735 1px;
    border-right: solid #ee7465 1px;
    position: absolute;
    left: 43px;
    top: 0;
}
.btn-color-add:after {
    background:url(../pic/anhsp/cart.png) no-repeat center center;
}
.btn-detail:after {
    content: "";
    width: 24px;
    height: 100%;
    float: left;
    margin-left: 10px;
    position: absolute;
    left: 0;
    top: 0;
}
.muangay{width:45%;float:left}
.btn-color-buy {
    background: #ff822e;
    cursor: pointer;
    width: 100%;
    margin: 10px 0px;
}
.btn-color-buy:after {
    background: url(../pic/anhsp/check.png) no-repeat center center;
}

/*chân trang*/
#footer{height:170px;background:url(images/footer.png) no-repeat center center;margin-top:50px}
#footer .contener{}
.menufoter  {width: 700px;margin: auto;padding-top: 60px;}  

.thongTinChiTietSanPham{font-family:'Times New Roman';text-align:justify;padding-top:20px}
.thongTinChiTietSanPham table{max-width:100% !important}
.thongTinChiTietSanPham img{max-width:100% !important; height:auto !important}